.App {
  text-align: center;
  font-family: 'Poppins';
}
body {
  background-color: #272727;
}

#pageHeader {
  width: 100%;
  background-color: #40531B;
  min-height: 30px;
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: row;
}

#pageLogo {
  color: white;
  margin-left: auto;
  width: 15%;
  border-left: #495E20 10px solid;
  background-color: #5D7234;
  padding-left: 15px;
}

#pageLogo > h2 {
  font-size: 1em;
  text-align: left;
}

#eventDisplay {
  width: 70%;
  padding-top: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

.eventCard {
  margin-top: 2em;
  height: fit-content;
  display: flex;
  flex-direction: row;
  height: 270px;
  width: 70%;
  background-color: white;
}

.eventImage {
  width: 40%;
  background-size: cover;
}

.eventDesc {
  width: 60%;
  padding: 10px;
  text-overflow: ellipsis;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.eventDesc > h3 {
  text-align: left;
}

.capInfo {
  display: flex;
  flex-direction: row;
  height: 30px;
}

.capInfo > svg {
  height: 100%;
}

.capInfo > p {
  margin: 0;
  align-self: center;
}

.eventDesc > p {
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 90px;
  width: 90%;
}

.eventButton {
  text-align: left;
  background-color: #6BA151;
  width: 100px;
  border: none;
  color: white;
  padding: 5px;
}

.eventButton:hover {
  cursor: pointer;
}

#filter {
  width: 30vw;
  position: fixed;
  top: 100px;
  right: 50px;
}

#filter {
  color: white;
  padding: 10px;
  border: white solid 1.5px;
  text-align: left;
}

#filter > h3 {
  margin: 0;
}
#filter > h4 {
  margin: 0;
}

.horizontal-slider {
  width: 100%;
  max-width: 500px;
  height: 50px;
}
.example-thumb {
  cursor: pointer;
  position: absolute;
  z-index: 100;
  background: #ffffff;
  border: 5px solid #3774ff;
  border-radius: 100%;
  display: block;
  box-shadow: 0 0 2px 0 rgb(0 0 0 / 44%);
}
.example-thumb.active {
  background-color: grey;
}
.example-track {
  position: relative;
  background: #ddd;
}
.example-track.example-track-0 {
  background: #83a9ff;
}
.horizontal-slider .example-track {
  top: 20px;
  height: 4px;
}
.horizontal-slider .example-thumb {
  top: 12px;
  width: 10px;
  outline: none;
  height: 10px;
  line-height: 38px;
}